.game {
  color: whitesmoke;
}

.games-table {
  background-color: rgba(255, 255, 255, 0.192);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.game-icon {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 6px;
}

.game-table-title {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.game-status {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  align-content: center;
}

.game-score {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  align-content: center;
}

.header{
    background-color: darkslateblue;
    color: whitesmoke;
}

.my-games-title{
  text-align: center;
  color: rgb(158, 143, 255);
}