.game-info-page {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.192);

  }

.game-title {
    padding:25px;
    max-width: 80%;
    color: rgb(158, 143, 255);
  }

.game-description {
    padding:25px;
    max-width: 80%;
    font-style:italic;
  }

.game-image {
    max-width: 100%;
    max-height: 100%;
  }

  .game-bio {
    padding:25px;
    max-width: 80%;
  }
