.game-rater{
    border-spacing: 40px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: 50%;
    border-radius:10px;
}

#status{
    padding: 10px;
}

#score{
    padding: 10px;
}

